$color_primary: #EDC7B7;
$color_secondary: #EEE2DC;
$color_tertiary: #BAB2B5;
$color_blue: #123C69;
$color_red: #AC3B61;

.menu{
    margin : 100px 0px;
    h1{
        color: $color_blue;
        padding-bottom: 20px;
    }

    .menu-description{
        justify-content: center;
        font-size: 18px;

    }

    .menu-category{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;

        .menu-category-item{
            cursor: pointer;
        }
    }

}
