$color_primary: #EDC7B7;
$color_secondary: #EEE2DC;
$color_tertiary: #BAB2B5;
$color_blue: #123C69;
$color_red: #AC3B61;

.footer{
    //margin-bottom: 0px;
    margin-top: 100px;
    background-color: $color_tertiary;
    height: 200px;
    padding: 0px 100px;
    
    
    

    .footer-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        
        .footer-logo{
            img{
                width: 200px;
            }
        }
        .footer-social{
            img{
                width: 40px;
                height: 40px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

}