$color_primary: #edc7b7;
$color_secondary: #eee2dc;
$color_tertiary: #bab2b5;
$color_blue: #123c69;
$color_red: #ac3b61;
$color_black: #000000;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-logo {
    img {
      width: 200px;
      height: 100px;
    }
  }

  .navbar-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    a {
      color: $color_black;
      text-decoration: none;
    }
    .active {
      border-bottom: 1px solid $color_black;
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;

    .cart {
      position: relative;

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      .dot {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $color_red;
        top: -8px;
        right: -8px;
      }
    }

    .sign-in-btn {
      background-color: $color_primary;
      border: 1px solid $color_red;
      border-radius: 5px;
      padding: 10px;
      margin-left: 20px;
      cursor: pointer;
    }

    &-profile {
      position: relative;
      margin-left: 10px;

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      &-dropdown {
        position: absolute;
        display: none;

        li {
          list-style-type: none;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

      &:hover .navbar-right-profile-dropdown {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
