$color_primary: #edc7b7;
$color_secondary: #eee2dc;
$color_tertiary: #bab2b5;
$color_blue: #123c69;
$color_red: #ac3b61;

.food-display {
  .food-display-title {
    color: $color_blue;
    padding-bottom: 20px;
  }
  .food-display-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: $color_secondary;
  }
}
